{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
    .container div {
        width: 280px;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Work Sans', sans-serif;
    display: inline-flex;
    }
.pagination li a.page-link{
    color: #555;
    background-color: transparent;
    font-size: 24px;
    font-weight: 600;
    padding: 6px 15px;
    margin: 0 7px;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff;
    background-color: transparent;
    text-shadow: 0 0 2px #000;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: #ff4757;
    height: 100%;
    width: 63%;
    border-radius: 0 25px 25px 0;
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    left: -2px;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}
.pagination li a.page-link:after{
    border-radius: 20px 0 0 20px;
    transform: rotate(-90deg);
    transform-origin: right top;
    left: auto;
    right: -2px;
}
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:after,
.pagination li a.page-link:hover:after{
    opacity: 1;
    transform: rotate(0);
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
    .pagination li{
        display: inline-block;
        margin: 0 0 5px;
    }
}

</style>

    {% if article_list %}
    <div class="container">
        {% for article in article_list %}
        <a href="{% url 'articleapp:detail' pk=article.pk %}">
            {% include 'snippets/card.html' with article=article %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div style="text-align: center;">
        <h1>No Article YET </h1>
    </div>
    {% endif %}


    {% include 'snippets/pagination.html' with page_obj=page_obj %}

   <div style="text-align: center;">
        <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
            Create Article
        </a>
   </div>
  

   

  
{% endblock  %}


